# Top-most EditorConfig file - stops the IDE from looking for parent configs
root = true

# All files default settings
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4

# JSON, XML, and YAML specifics
[*.{json,xml,yml,yaml}]
indent_size = 2

# C# files rules
[*.cs]
#### Core Formatting ####
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = 100

#### .NET Coding Conventions ####
# Organize Usings
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
